samples/ai-loan-agent-sample/LogicApps/LoanApprovalAgent/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Loan_Agent": {
        "type": "Agent",
        "inputs": {
          "parameters": {
            "deploymentId": "gpt-5-mini",
            "messages": [
              {
                "role": "system",
                "content": "You're an autonomous loan agent. Call ONE tool per turn. Steps: 1) Get policy 2) Get bank history 3) Get risk profile 4) Check luxury vehicle if needed 5) Decide and send email (or request human review first if needed). After email sent, STOP."
              },
              {
                "role": "user",
                "content": "This is the application ID and other customer details - @{outputs('Application_Summary')}"
              }
            ],
            "agentModelType": "AzureOpenAI",
            "agentModelSettings": {
              "deploymentModelProperties": {
                "name": "gpt-5-mini",
                "format": "OpenAI",
                "version": "2025-08-07"
              }
            }
          },
          "modelConfigurations": {
            "model1": {
              "referenceName": "agent"
            }
          }
        },
        "tools": {
          "Get_loan_approval_policy": {
            "actions": {
              "Return_Policy": {
                "type": "Compose",
                "inputs": "AUTO-APPROVE: Credit≥700, Loan≤$50k, Employment≥2yr, No bankruptcy\nHUMAN REVIEW: Credit<700 OR Loan>$50k OR Luxury vehicle OR Bankruptcies\nAUTO-REJECT: Credit<600 OR Employment<1yr OR Multiple bankruptcies"
              }
            },
            "description": "Get loan policy (call first)"
          },
          "Get_customers_bank_history": {
            "actions": {
              "Call_GetCustomerHistory_Workflow": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "GetCustomerHistory"
                    }
                  },
                  "body": {
                    "applicationId": "@agentParameters('applicationId')"
                  }
                }
              }
            },
            "description": "Get customer banking history",
            "agentParameterSchema": {
              "type": "object",
              "properties": {
                "applicationId": {
                  "type": "string",
                  "description": "Application ID"
                }
              },
              "required": [
                "applicationId"
              ]
            }
          },
          "Get_applicants_risk_profile": {
            "actions": {
              "Call_GetRiskProfile_Workflow": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "GetRiskProfile"
                    }
                  },
                  "body": {
                    "loanAmount": "@agentParameters('loanAmount')",
                    "annualSalary": "@agentParameters('annualSalary')",
                    "employmentYears": "@agentParameters('employmentYears')"
                  }
                }
              }
            },
            "description": "Get risk profile",
            "agentParameterSchema": {
              "type": "object",
              "properties": {
                "loanAmount": {
                  "type": "number",
                  "description": "Loan amount"
                },
                "annualSalary": {
                  "type": "number",
                  "description": "Annual salary"
                },
                "employmentYears": {
                  "type": "number",
                  "description": "Years employed"
                }
              },
              "required": [
                "loanAmount",
                "annualSalary",
                "employmentYears"
              ]
            }
          },
          "Get_special_vehicles": {
            "actions": {
              "Call_GetSpecialVehicles_Workflow": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "GetSpecialVehicles"
                    }
                  },
                  "body": {
                    "make": "@agentParameters('make')"
                  }
                }
              }
            },
            "description": "Check if vehicle is luxury/special (requires human review)",
            "agentParameterSchema": {
              "type": "object",
              "properties": {
                "make": {
                  "type": "string",
                  "description": "Vehicle make"
                }
              },
              "required": [
                "make"
              ]
            }
          },
          "Send_Customer_Email": {
            "actions": {
              "Format_Email": {
                "type": "Compose",
                "inputs": {
                  "subject": "@{if(equals(agentParameters('decision'), 'APPROVED'), 'Auto Loan Application - Approved', 'Auto Loan Application Decision')}",
                  "body": "@{if(equals(agentParameters('decision'), 'APPROVED'), concat('<p>Dear ', agentParameters('name'), ',</p><p>Congratulations! Your auto loan application has been <b>approved</b>.</p><p><b>Loan Amount:</b> $', string(agentParameters('loanAmount')), '<br><b>Estimated Monthly Payment:</b> $', string(agentParameters('monthlyPayment')), '</p><p>Next steps will be sent separately.</p><p><b>Credit Score Used:</b> ', string(agentParameters('creditScore')), '</p><p><b>ECOA Notice:</b> The Federal Equal Credit Opportunity Act prohibits creditors from discriminating against credit applicants on the basis of race, color, religion, national origin, sex, marital status, or age.</p><p>Sincerely,<br>Loan Team</p>'), concat('<p>Dear ', agentParameters('name'), ',</p><p>Your auto loan application has been <b>declined</b>.</p>', if(not(empty(coalesce(agentParameters('reasons'), ''))), concat('<p><b>Principal Reasons:</b></p><ul>', agentParameters('reasons'), '</ul>'), ''), '<p><b>Credit Score Used:</b> ', string(agentParameters('creditScore')), '</p><p><b>ECOA Notice:</b> The Federal Equal Credit Opportunity Act prohibits creditors from discriminating against credit applicants on the basis of race, color, religion, national origin, sex, marital status, or age. You may request specific reasons within 60 days.</p><p>Sincerely,<br>Loan Team</p>'))}"
                }
              },
              "Send_Email": {
                "type": "Compose",
                "inputs": {
                  "status": "Email sent successfully",
                  "to": "@agentParameters('email')",
                  "subject": "@outputs('Format_Email').subject",
                  "body": "@outputs('Format_Email').body",
                  "sentAt": "@utcNow()",
                  "note": "Email logged (not actually sent in mock mode)"
                },
                "runAfter": {
                  "Format_Email": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "description": "Send loan decision email",
            "agentParameterSchema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Customer email"
                },
                "name": {
                  "type": "string",
                  "description": "Customer name"
                },
                "decision": {
                  "type": "string",
                  "description": "Decision (APPROVED or REJECTED)"
                },
                "creditScore": {
                  "type": "number",
                  "description": "Credit score"
                },
                "loanAmount": {
                  "type": "number",
                  "description": "Loan amount (approvals only)"
                },
                "monthlyPayment": {
                  "type": "number",
                  "description": "Estimated monthly payment (approvals only)"
                },
                "reasons": {
                  "type": "string",
                  "description": "HTML list items with denial reasons: '<li>Insufficient credit history</li><li>High debt-to-income ratio</li>' (denials only, use vague language)"
                }
              },
              "required": [
                "email",
                "name",
                "decision",
                "creditScore"
              ]
            }
          },
          "Wait_for_Human_Review": {
            "actions": {
              "Simulate_Human_Review": {
                "type": "Compose",
                "inputs": {
                  "decision": "@if(and(greaterOrEquals(outputs('Mock_Credit_Check').creditScore, 700), equals(outputs('Mock_Background_Check').bankruptcies, 0)), 'APPROVED', 'REJECTED')",
                  "reviewer": "System (Simulated)",
                  "reviewedAt": "@utcNow()",
                  "note": "In production, this would post an adaptive card to Teams and wait for human approval. Simulated logic: Approve if credit >= 700 AND no bankruptcies, otherwise reject."
                }
              }
            },
            "description": "Pause for human review and decision",
            "agentParameterSchema": {
              "type": "object",
              "properties": {
                "aireview": {
                  "type": "string",
                  "description": "AI summary and review reason"
                },
                "loanamount": {
                  "type": "string",
                  "description": "Loan amount"
                },
                "riskprofile": {
                  "type": "string",
                  "description": "Risk profile"
                }
              },
              "required": [
                "aireview",
                "loanamount",
                "riskprofile"
              ]
            }
          }
        },
        "runAfter": {
          "Application_Summary": [
            "SUCCEEDED"
          ]
        },
        "limit": {
          "count": 100
        }
      },
      "Mock_Credit_Check": {
        "type": "Compose",
        "inputs": {
          "applicationId": "@triggerBody().applicationId",
          "creditScore": "@if(equals(triggerBody().applicationId, 'APP-AUTO-APPROVE-001'), 780, if(equals(triggerBody().applicationId, 'APP-REVIEW-REQUIRED-002'), 720, if(equals(triggerBody().applicationId, 'APP-LUXURY-REVIEW-004'), 750, if(equals(triggerBody().applicationId, 'APP-AUTO-REJECT-003'), 580, 580))))"
        },
        "runAfter": {}
      },
      "Mock_Background_Check": {
        "type": "Compose",
        "inputs": {
          "bankruptcies": "@if(contains(triggerBody().applicationId, 'REJECT-003'), 1, 0)",
          "criminalRecord": false
        },
        "runAfter": {}
      },
      "Mock_Employment_Verification": {
        "type": "Compose",
        "inputs": {
          "employmentVerified": true,
          "salary": "@triggerBody().salary",
          "yearsEmployed": "@triggerBody().employmentYears"
        },
        "runAfter": {}
      },
      "Application_Summary": {
        "type": "Compose",
        "inputs": {
          "ApplicationID": "@triggerBody().applicationId",
          "Name": "@triggerBody().name",
          "Email": "@triggerBody().email",
          "LoanAmount": "@triggerBody().loanAmount",
          "VehicleMake": "@triggerBody().vehicleMake",
          "VehicleModel": "@triggerBody().vehicleModel",
          "Salary": "@triggerBody().salary",
          "EmploymentYears": "@triggerBody().employmentYears",
          "CreditScore": "@outputs('Mock_Credit_Check').creditScore",
          "Bankruptcies": "@outputs('Mock_Background_Check').bankruptcies",
          "EmploymentVerified": "@outputs('Mock_Employment_Verification').employmentVerified",
          "MonthlyIncome": "@div(triggerBody().salary, 12)",
          "EstimatedMonthlyPayment": "@div(div(mul(triggerBody().loanAmount, 0.04), 12), 1)",
          "DebtToIncomeRatio": "@{mul(div(div(div(mul(triggerBody().loanAmount, 0.04), 12), 1), div(triggerBody().salary, 12)), 100)}%",
          "EmploymentStability": "@if(greaterOrEquals(triggerBody().employmentYears, 5), 'Excellent', if(greaterOrEquals(triggerBody().employmentYears, 2), 'Good', 'Limited'))",
          "RiskTier": "@if(and(greaterOrEquals(outputs('Mock_Credit_Check').creditScore, 740), less(div(div(mul(triggerBody().loanAmount, 0.04), 12), div(triggerBody().salary, 12)), 0.28)), 'Low', if(or(less(outputs('Mock_Credit_Check').creditScore, 580), greater(div(div(mul(triggerBody().loanAmount, 0.04), 12), div(triggerBody().salary, 12)), 0.45)), 'High', 'Medium'))"
        },
        "runAfter": {
          "Mock_Background_Check": [
            "SUCCEEDED"
          ],
          "Mock_Credit_Check": [
            "SUCCEEDED"
          ],
          "Mock_Employment_Verification": [
            "SUCCEEDED"
          ]
        }
      },
      "Loan_post_processing_steps": {
        "type": "Workflow",
        "inputs": {
          "host": {
            "workflow": {
              "id": "LoanPostProcessing"
            }
          },
          "body": "@outputs('Loan_Agent')?['lastAssistantMessage']"
        },
        "runAfter": {
          "Loan_Agent": [
            "SUCCEEDED"
          ]
        }
      },
      "Return_Agent_Response": {
        "type": "Response",
        "inputs": {
          "statusCode": 200,
          "body": "@outputs('Loan_Agent')?['lastAssistantMessage']"
        },
        "runAfter": {
          "Loan_post_processing_steps": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "applicationId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "loanAmount": {
                "type": "number"
              },
              "vehicleMake": {
                "type": "string"
              },
              "vehicleModel": {
                "type": "string"
              },
              "salary": {
                "type": "number"
              },
              "employmentYears": {
                "type": "number"
              }
            },
            "required": [
              "applicationId",
              "name",
              "email",
              "loanAmount",
              "vehicleMake",
              "vehicleModel",
              "salary",
              "employmentYears"
            ]
          }
        }
      }
    }
  },
  "kind": "Agentic"
}